* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
}

.container {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  left: -50%;
  top: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, gold, gold);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}

.container::after {
  content: '';
  position: absolute;
  left: -50%;
  top: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, gold, gold);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

form {
  position: absolute;
  inset: 2px;
  background: #28292d;
  border-radius: 8px;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}

form h2 {
  color: gold;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.input-box {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.input-box input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  z-index: 10;
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 16px;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 1px;
  transition: .5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
  color: gold;
  transform: translateX(0px) translateY(-34px);
  font-size: 12px;
}

.input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: gold;
  border-radius: 4px;
  transition: .5s;
  pointer-events: none;
  z-index: 9;
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
  height: 44px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  margin: 10px 0;
  font-size: 12px;
  color: #8f8f8f;
  text-decoration: none;
}

.links a:hover,
.links :nth-child(2) {
  color: gold;
}

input[type="submit"] {
  border: none;
  outline: none;
  background: gold;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

input[type="submit"]:active {
  transform: scale(.9);
  opacity: .8;
}